seldom == 2.10.0
colorama>=0.4.3
selenium>=4.0.0
XTestRunner>=1.4.1
parameterized>=0.7.0
poium>=1.0.0
openpyxl==3.0.3
pyyaml>=5.1
requests>=2.22.0
jsonschema>=3.2.0
jmespath>=0.10.0
webdriver-manager>=3.5.0